body{
	color : #ccc;
	height : 100vh;
}
h1{
	font-weight : 100;
}
.btn{
	background: #557d90;
    color: #ccc;
    border: none;
    padding: 10px 15px;
   font-family: 'Muli', sans-serif;
    border-radius: 5px;
    cursor: pointer;
	font-size : 11px;
}
.heading{
	margin : 150px 100px 100px 100px;
	color : #ccc;
}
.heading h1{
	font-weight : 100;
	
	font-size : 50px;
	
}
a{
	text-decoration : none;
}
.heading-details{
	height : 46px;
	overflow : hidden;
	transition : 2s;
	text-align : justify;
	
}

.heading-btn{
	background : #557d90;
	color : #ccc;
	border : none;
	padding : 10px  15px;
	font-family : century gothic;
	border-radius : 5px;
	cursor : pointer;
	
}
.heading-seemore{
	opacity: 0;
	transition : 7s;
}
@media(max-width : 900px){
	body{
		height : 100vh;
	}
	.heading {
		height : 100%;
		margin : 100px 10px 100px 10px;
		
	}
	.heading h1{
	}
	
}



.title{
	opacity : 0;
	transition : 5s;
	z-index : 900;
}

.download-container{
	padding : 0px 100px;
	display : grid;
	grid-template-columns : 1fr 1fr 1fr;
	grid-gap : 1rem;
	text-align : center;

}
.download-container div{
	background : rgba(0,0,0,0.5);
	padding : 25px;
	
	box-shadow : 5px 5px 5px black;
}
.download-picture{
	height : 300px;
	box-shadow : 5px 5px 5px black;
}

@media(max-width : 900px){
	.download{
		height : 100%;
	}
	.download-container{
		padding : 0px 10px;
		display: grid;
		grid-template-columns : 1fr;
	}
	.btn{
		width : 100%;
	}
}